:root {
  --border: 5px solid black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
/* === GENERAL === */

#main {
  aspect-ratio: 16/9;
  background-color: #008000;
  border: var(--border);
  margin: 0 auto;
  max-height: 95vh;
  max-width: 901px;
}

header {
  background-color: #808000;
  border-bottom: var(--border);
  height: 30px;
  max-height: 5%;
  width: 100%;
}

.content__wrapper {
  display: flex;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

/* === SQUARES SECTION === */

.squares__wrapper {
  aspect-ratio: 2/1;
  rotate: 45deg;
  width: 33%;
}

.square_top,
.square_bottom {
  aspect-ratio: 1/1;
  background-color: #ff0000;
  border: var(--border);
  height: 22%;
  margin-bottom: 10%;
  margin-left: 0%;
  margin-top: 15%;
}

.square_top {
  animation: punchTop 5s 3 2s;
}

.square_bottom {
  animation: punchBottom 5s 3 2s;
}

/* === FIGURES SECTION === */

.figures__wrapper {
  width: 33%;
}

.figures__container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30%;
  width: 100%;
}

.lines__wrapper {
  width: 50%;
}

.line_top,
.line_bottom {
  aspect-ratio: 5/1;
  background-color: #0000fa;
  border: var(--border);
  margin: 15% 0;
  width: 80%;
}

.circle {
  background-color: #008080;
  border-radius: 50%;
  border: var(--border);
  aspect-ratio: 1.1/1;
  width: 35%;
}

/* === RECTANGLE SECTION === */
.rectangle__wrapper {
  width: 33%;
  position: relative;
}
.rectangle {
  background-color: white;
  position: absolute;
  border: var(--border);
  width: 60%;
  top: 5%;
  bottom: 5%;
  left: 60%;
  translate: -50% 0;
  text-align: center;
}

.rectangle span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  max-width: 100%;
  overflow-x: hidden;
  font-weight: 500;
  padding-top: 10%;
  display: block;
}

/* === VIEW MEDIUM === */

@media (max-width: 901px) {
  .content__wrapper {
    justify-content: normal;
    display: grid;
    grid-template-areas:
      "squares rectangle"
      "figures rectangle";
  }

  .squares__wrapper {
    grid-area: squares;
    aspect-ratio: 0;
  }

  .square_top,
  .square_bottom {
    height: 40%;
    margin-bottom: 70%;
    margin-left: 45%;
    margin-top: -40%;
  }

  .figures__wrapper {
    grid-area: figures;
    width: 65%;
  }
  .figures__container {
    margin-top: 5%;
  }

  .rectangle__wrapper {
    grid-area: rectangle;
    justify-self: center;
    position: relative;
    width: 100%;
  }

  .rectangle {
    background-color: #c83737;
    bottom: 3%;
    right: 10%;
    top: 4%;
    width: 40%;
  }
}

/* VIEW SMALL */

@media (max-width: 583px) {
  #main {
    aspect-ratio: 9/16;
  }

  .content__wrapper {
    display: flex;
    flex-direction: column;
  }
  .squares__wrapper {
    height: 30%;
  }

  .square_top,
  .square_bottom {
    margin-top: -28%;
  }

  .figures__wrapper {
    height: 20%;
    width: 100%;
  }

  .figures__container {
    justify-content: normal;
    margin: 0 0 0 2%;
  }

  .lines__wrapper {
    width: 35%;
  }

  .circle {
    width: 25%;
  }

  .rectangle__wrapper {
    height: 50%;
  }

  .rectangle {
    background-color: #0000fa;
    translate: 0;
    left: 10%;
  }
}

/* === ANIMATIONS === */

/* @keyframes punchTop {
  10% {
    translate: 0 25%;
  }
  20% {
    border-bottom: 10px solid yellow;
  }
  50% {
    translate: 0 -100%;
  }
}

@keyframes punchBottom {
  10% {
    translate: 0 -25%;
  }
  20% {
    border-top: 10px solid yellow;
  }
  50% {
    translate: 0 100%;
  }
} */
