:root {
  --border: 5px solid black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* === GENERAL === */

body {
  background-color: #008000;
}

header {
  background-color: #808000;
  border-bottom: var(--border);
  height: 30px;
  width: 100%;
}

.content__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* === SQUARES SECTION === */

.squares__wrapper {
  height: fit-content;
  rotate: 45deg;
  width: 300px;
}

.square_top,
.square_bottom {
  aspect-ratio: 1/1;
  background-color: #ff0000;
  border: var(--border);
  margin: 10px 0px 50px 65px;
  width: 120px;
}

.square_top {
  animation: punchTop 5s 3 2s;
}
.square_bottom {
  animation: punchBottom 5s 3 2s;
}

/* === FIGURES SECTION === */

.figures__wrapper {
  width: 300px;
}

.figures__container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
.line_top,
.line_bottom {
  background-color: #0000fa;
  border: var(--border);
  height: 20px;
  margin: 20px 0;
  width: 120px;
}
.circle {
  background-color: #008080;
  border-radius: 50px;
  border: var(--border);
  height: 90px;
  margin: 0 15px;
  width: 95px;
 
}

/* === RECTANGLE SECTION === */

/* .rectangle__wrapper {
  width: 301px;
} */

.rectangle {
  background-color: white;
  border: var(--border);
  bottom: 50%;
  display: inline-block;
  height: 600px;
  left: 50%;
  min-height: 80%;
  position: relative;
  text-align: center;
  translate: -60% 57%;
  width: 200px;
}

.rectangle span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  position: relative;
  top: 20px;
}

/* === VIEW MEDIUM === */

@media (max-width: 901px) {
  .content__wrapper {
    display: grid;
    grid-template-areas:
      "squares rectangle"
      "figures rectangle";
  }

  .squares__wrapper {
    grid-area: squares;
  }

  .figures__wrapper {
    grid-area: figures;
  }

  .rectangle__wrapper {
    grid-area: rectangle;
  }

  .rectangle {
    background-color: #c83737;
  }
}

/* === VIEW SMALL === */

@media (max-width: 583px) {
  .content__wrapper {
    display: flex;
    flex-direction: column;
  }

  .figures__container {
    margin: 0;
  }
  .rectangle__wrapper {
   width:300px
  }
  .rectangle {
    background-color: #0000fa;
    translate: -50% 0;
  }
}

/* === ANIMATIONS === */

@keyframes punchTop {
  10% {
    translate: 0 25%;
  }
  20% {
    border-bottom: 10px solid yellow; 
  }
  50% {
    translate: 0 -100%;
  }
}

@keyframes punchBottom {
  10% {
    translate: 0 -25%;
  }
  20% {
    border-top: 10px solid yellow; 
  }
  50% {
    translate: 0 100%
  }
}